div {
    width: 75%;
    .contentContainer {
        display: flex;
        flex-flow: column;
        margin: 0;
        .contentHeader {
            width: 85% !important;
            display: flex !important;
            flex-flow: column !important;
            margin: 0 auto !important;
        }
        .contentBody{
            display: flex !important;
            flex-flow: column !important;       
            width: 85% !important;
            margin: 0 auto;
        }
    }    
}
